.job-offers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;
  height: auto;
  margin: 20px;
}

.filter-input-container {
  display: flex;
  justify-content: center;
}

.filter-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  position: absolute;
  top: 90px;
  width: 800px;
  background-color: white;
  padding: 10px;
  border: none;

  & &__category {
    display: flex;
    padding: 5px;
    color: rgb(79, 165, 168);
    background-color: rgb(222, 234, 236);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  & &__category-delete {
    padding: 5px;
    background-color: rgb(79, 165, 168);
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 5px;
  }

  .category-container {
    display: flex;
  }

  .container {
    display: flex;
  }

  .clear {
    color: rgb(79, 165, 168);
  }
}
