.job-offers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
    height: auto;
    margin: 20px;
}

.filter-input-container {
    display: flex;
    justify-content: center;
}

.filter-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    position: absolute;
    top: 90px;
    width: 800px;
    background-color: white;
    padding: 10px;
    border: none;

    & &__category {
        color: rgb(79, 165, 168);
        background-color: rgb(222, 234, 236);
    }

    & &__categories-container {
        display: flex;

    }

}