<section class="job-offer">
  <div class="job-main-info">
    <div class="job-logo">
      <img [src]="jobOffer.image" alt="" />
    </div>
    <div class="job-info">
      <div class="job-info__name">{{ jobOffer.name }}</div>
      <div class="job-info__position">{{ jobOffer.position }}</div>
      <app-job-time-characters></app-job-time-characters>
    </div>
  </div>
  <app-job-categories [jobOffer]="jobOffer"></app-job-categories>
  <a [routerLink]="['/details', jobOffer.id]">Read more</a>
</section>
